body {
  margin: 0;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 700px;
  height: 700px;
  background-color: #fff;
}

.navbar {
  top: 0;
  margin: 0 !important;
  width: 100%;
  height: 5%;
  border: 1px solid black;
  background-color: rgb(49, 40, 104)
}


.dashCont {
  height: 95%;
  background: url('/images/dashBoard.png')
}
.totProgress {
  height: 100%;
  width: 25%;
}

.balance {
  width: 75%;
  height: 100%;
}

.botBar {
  margin: 0 !important;
  height: 20%;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.cloudView {
  /* background-color: skyblue; */
  height: 80%;
}

.cloudLayer {
  min-height: 6em;
  margin-bottom: 0 !important;
}

.cloud {
  position: relative;
  text-align: center;
  width: 35%;
  height: 18%;
}


.cloud img {
  width: 100%;
  height: 100%;
}

.newDreamCont {
  position: relative;
  text-align: center;
}

.newDream {
  width: 35%;
  height: 18%;
}

.newDreamTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: .8em;
  transform: translate(-50%, -50%);
}

.cloudtext {
  position: absolute;
  font-size: .8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cloudtext div {
  display: inline-block;
}

img.barplaceholder{
  max-height: 100%;
  width: 100%;
}

img.progressplaceholder{
  max-height: 100%;
  max-width: 100%;
}

.log {
  margin: 10px auto;
  padding: 0 0 0 4px;
  width: 45px;
  height: 20px;
  font-size: .8em;
  border-radius: 0 50% 50% 0;
  background-color: #84c7c1;
}

.toggle {
  margin: 8px 25%;
  width: 40px;
}

.avatar {
  margin: 8px auto;
  width: 27px;
  height: 27px;
}

.avatarImg {
  border-radius: 50%;
}

.newDreamBtn {
  width: 100%;
  background-color: rgb(23, 92, 116);
  padding: 2% 0;
  text-align: center;
}

.inviteCont {
  width: 100%;

}

.invites {
  width: 100%;
  background-color: rgb(156, 225, 248);
  padding: 2% 0;
  text-align: center;
}
