body {
  margin: 0;
}

.navbar {
  top: 0;
  margin: 0 !important;
  width: 100%;
  height: 56px;
  border: 1px solid black;
  background-color: rgb(49, 40, 104)
}

.tahaview {
  width: 100%;
  height: 10em;
}

.cloudview {
  background-color: skyblue
}

.cloudLayer {
  min-height: 6em;
  margin-bottom: 0 !important;
}

.cloud {
  position: relative;
  text-align: center;
  width: 35%;
  height: 18%;
}

.cloud img {
  width: 100%;
  height: 100%;
}

.cloudtext {
  position: absolute;
  font-size: .8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cloudtext div {
  display: inline-block;
}

img.barplaceholder{
  max-height: 100%;
  width: 100%;
}

img.progressplaceholder{
  max-height: 100%;
  max-width: 100%;
}

.log {
  margin: 10px auto;
  padding: 0 0 0 4px;
  width: 45px;
  height: 20px;
  font-size: .8em;
  border-radius: 0 50% 50% 0;
  background-color: #84c7c1;
}

.toggle {
  margin: 8px 25%;
  width: 40px;
}

.avatar {
  margin: 8px auto;
  width: 27px;
  height: 27px;
}

.avatarImg {
  border-radius: 50%;
}

