body {
  margin: 0;
}

.navbar {
  height: 50px;
  border: 1px solid black;
}

.tahaview {
  width: 100%;
  height: 10em;
}

.cloudview {
  background-color: skyblue
}

.cloudlayer {
  min-height: 10em;
}

.cloud {
  position: relative;
  text-align: center;
  width: 14em;
  height: 8em;
}

.cloud img {
  width: 100%;
  height: 100%;
}

.cloudtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cloudtext div {
  display: inline-block;
}

img.barplaceholder{
  max-height: 100%;
  width: 100%;
}

img.progressplaceholder{
  max-height: 100%;
  max-width: 100%;
}

.log {
  margin: 10px auto;
  width: 40px;
  height: 20px;
  border-radius: 0 50% 50% 0;
  background-color: orange;
}

.toggle {
  margin: 10px auto;
  width: 30px;
  height: 20px;
  background-color: orange;
}

.avatar {
  margin: 5px auto;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: orange;
}